body {
    margin-left: 20px;
    margin-right: 20px;
 
}
main {
    padding: 10px;
}
 
header {
    background-color: yellowgreen;
    color: floralwhite; 
    padding: 8px;
    font-size: 16pt;
 
}
 
footer {
    background-color: yellowgreen;
    color: floralwhite; 
    padding: 8px;
    font-size: 15pt;
    font-style: italic;
    text-align: right;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
}
 
