body {
    background-color: lightseagreen; 
    margin-left: 20px;
    margin-right: 20px;
 
}
 
header {
    background-color: yellowgreen;
    color: floralwhite; 
    padding: 5px;
    font-size: 16pt;
 
}
 
footer {
    background-color: yellowgreen;
    color: floralwhite; 
    padding: 5px;
    font-size: 11pt;
    font-style: italic;
    text-align: right;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
}