{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Flask и БД</h1>
    <div>Тема лабораторной - Flask и БД</div>
    <div>{{username}}</div>
    <ol>
        <li>
            <a href="/lab5/users">Список пользователей</a>
        </li>
        <li>
            <a href="/lab5/register">Регистрация</a>
        </li>
        <li>
            <a href="/lab5/login">Авторизация</a>
        </li>
        <li>
            <a href="/lab5/new_article">Добавить заметку</a>
        </li>
        <li>
            <a href="/lab5/user_articles">Заметки</a>
        </li>
        <li>
            <a href="/lab5/logout">Выход</a>
        </li>
    </ol>
{% endblock %}