{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}

    <h1>Ваш билет</h1>
    <div>ФИО:{{ user }}</div>
    <div>Тип билета: {{ type }}</div>
    <div>Полка: {{ shelf }}</div>
    <div>Ваш возраст: {{ age }}</div>
    <div>Наличие багажа: {{ bag }}</div>
    <div>Пункт выезда: {{ Departure_point }}</div>
    <div>Пункт назначения: {{ Destination }}</div>
    <div>Дата: {{ date }}</div>
    <div>
        <a href="/lab3/ticket">К покупкам билета</a>
    </div>

{% endblock %}
